
.advantage-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 270px;
    border-radius: 4px;
    background: var(--brand-background-light);
    margin-bottom: 30px;
}