.footer {
  background-color: getColor('dark');
  text-align: start;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  display: flex;
  align-items: baseline;

  &__list {
    padding-bottom: 9px;
  }

  &__item {
    color: getColor('foreground');
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

  }

  &__link {
    font-family: $mainFont;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.7;

    transition: color 250ms getAnimation('animation');

    &:is(:hover, :focus) {
      color: getColor('accent');
    }


  }

}