.hero {
    background-color: getBackgroundColor('dark');
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;

    &__title {
        @include font(900, 44px, 1.36, 0.06em);
        color: getColor('foreground');
        text-transform: uppercase;
        margin: 0px auto;
        margin-bottom: 30px;

    }

    &__btn {
        display: block;
        color: getcolor('foreground');
        background-color: getColor('accent');
        box-shadow: getBoxShadow('button');
        font-weight: 700;
        line-height: 1.9;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        padding: 0;
        margin: 0 auto;
        margin-top: 30px;

        transition: color 250ms getAnimation('animation'),
            background-color 250ms getAnimation('animation'),
            box-shadow 250ms getAnimation('animation');

        &:is(:hover, :focus) {
            color: getColor('accent');
            background-color: getColor('foreground');
        }
    }
}