.join {
    margin-left: 70px;

    &__title {
        @include footer-title;
    }

    &__list {
        display: flex;
        column-gap: 10px;
    }

    &__icon {
        border-radius: 50%;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        display: flex;
        background: rgba(255, 255, 255, 0.1);

        transition: background-color 250ms getAnimation('animation');


        &:is(:hover, :focus) {
            background-color: getColor('accent');
        }

    }

    &__svg {
        fill: getColor('foreground')
    }
}