.logo {
    @include font(700, 26px, 1.2, 00.03em);
    font-family: getFont('ral');
    color: getColor('primary');
    margin-right: 93px;

    &--blue{
        color: getColor('accent');
    }
    
}