.team {
    background-color: getBackgroundColor('light');

    &__card {
        background-color: getColor('foreground');
        box-shadow: $shadow-card;
        border-radius: 0px 0px 4px 4px;
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__title {
        @include title;
        
    }

    &__text {
        color:getColor('secondary');
        line-height: 1.2;
        letter-spacing: 0.03em;
        font-size: 16px;
        line-height: 19px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__name{
        color:getColor('primary');
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.03em;
        padding-top: 30px;
        padding-bottom: 10px;
    }
}

