.team {
    background-color: getBackgroundColor('light');

    &__card {
        background-color: getColor('foreground');
        box-shadow: getBoxShadow('card');
        border-radius: 0px 0px 4px 4px;
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__title {
        @include title;
    }

    &__text {
        @include font(700, 16px, 1.2, 0.03em);
        color: getColor('secondary');
        line-height: 19px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}

