/* ex. @include font(700, 26px, 1.2, 00.03em);*/

@mixin font($weight: false, $size: false, $line: false, $letter: false) {
    @if $weight {
        font-weight: $weight;
    }

    @if $size {
        font-size: $size;
    }

    @if $line {
        line-height: $line;
    }

    @if $letter {
        letter-spacing: $letter;
    }

}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin title {
    @include font(700, 36px, 1.16, 0.03em);
    margin-bottom: 50px;
    text-align: center;
    color:getColor('primary');
}