@mixin font($weight: false, $size: false, $line: false, $letter: false) {
    font-family: getFont('rob');

    @if $weight {
        font-weight: $weight;
    }

    @if $size {
        font-size: $size;
    }

    @if $line {
        line-height: $line;
    }

    @if $letter {
        letter-spacing: $letter;
    }

}

@mixin title {
    @include font(700, 36px, 1.16, 0.03em);
    margin-bottom: 50px;
    text-align: center;
    color: getColor('primary');
}

@mixin logo {
    @include font(700, 26px, 1.2, 00.03em);
    font-family: getFont('ral');
}

@mixin footer-title {
    @include font(700, 14px, 1.7, 0.03em);
    color: getColor('foreground');
    display: inline-block;
    width: 207px;
    text-transform: uppercase;
    margin-bottom: 20px;
}